@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins:wght@400;500;600&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
}

#header{
    background-image: url('/bg.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;

}
.container{
    padding: 10px 10%;
    
}
nav{
    display: flex;
    text-decoration: none;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

}

nav ul li{
    display: inline-block;
    margin: 4px 10px;
    list-style: none;
}
nav ul li a{
    color: aqua;
    position: relative;
    text-decoration: none;
    font-family:  'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 23px;
}
nav ul li a:hover{
    color: tomato;
    transition: all 0.4s ease-in;

}
nav ul li a.active::after{
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: tomato;
    left: 0px;
    bottom: -6px;
    transition: all 0.4s ease-in;

}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background-color: tomato;
    left: 0px;
    bottom: -6px;
    transition: all 0.4s ease-in;

}
nav ul li a:hover::after{
    width: 100%;
}



.logo a{
    color: blueviolet;
    font-family: 'Baloo Bhai 2', cursive;
    text-decoration: none;
    font-size: 40px;
    font-weight: 600;
}
.logo span{
    color: crimson;

}
.logo:hover{
    font-weight: 700;
}

.text1{
    margin-top: 20vh;
    margin-left: 55vw;
    font-size: 18px;
    font-weight: 500;
}
.text2{
    margin-left: 54vw;
    font-size: 48px;
    font-weight: 600;
}
.text3{
    font-size: 20px;
    font-weight: 500;
    margin-left: 55vw;
}

.text3 span{
    color: chartreuse;

}


#about{
    padding: 80px 0px;
    color: antiquewhite;

}
.content{
    display: flex;
    justify-content: space-between;
}

.col-1{
    flex-basis: 35%;
}
.col-1 img{
    width: 100%;
    border-radius: 15px;
}
.col-2{
    flex-basis: 60%;
    text-align: justify;
}
#about .title{
    font-size: 48px;
    font-weight: 500;
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    position: relative;
}

#about .title::after{
    content: 'Who I am';
    font-size: initial;
    color: crimson;
    position: absolute;
    bottom: -7px;
    background: black;
}
#about .title::before{
    content: '';
    position: absolute;
    bottom: 3px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: white;
    transform: translateX(-50%);
}

.sub-titles{
    display: flex;
    margin: 20px 0 40px;
    justify-content: space-between;
}
.tablinks{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tablinks::after{
    content: '';
    width: 0;
    position: absolute;
    height: 3px;
    background-color: tomato;
    left: 0;
    bottom: -7px;
    transition: 0.5s ease-in-out;
}
.tablinks.active-link::after{
    width: 50%;
}
.tab-content{
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}
